<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f='ngForm' novalidate class="feedback-form" (ngSubmit)="sendFeedback()">
        <div class="form-group">
          <label for="name">First name</label>
          <input 
            type='text' 
            id='name' 
            class='form-control' 
            name="name" 
            placeholder="Your name" 
            [(ngModel)]="model.name" />
        </div>

        <div class="form-group">
            <label for="email">E-mail</label>
            <input 
              type='text' 
              id='email' 
              class='form-control' 
              name="email" 
              placeholder="Your e-mail"
              [(ngModel)]="model.email" />
        </div>

        <div class="form-group">
            <label for="feedback">Feedback</label>
            <textarea 
              id="feedback" 
              class='form-control' 
              name="feedback" 
              placeholder="Your feedback" 
              rows="10"
              [(ngModel)]="model.feedback">
            </textarea>
        </div>

        <button type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span>Send feedback</span>
        </button>

      </form>
    </div>
  </div>
</div>