<div class="container">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <form name="form" #f='ngForm' novalidate class="feedback-form" (ngSubmit)="sendFeedback()">
          <mat-form-field class="example-full-width">
              <input 
                matInput 
                placeholder="Name" 
                [formControl]="nameFormControl"
                [errorStateMatcher]="matcher" 
                type='text' 
                id='name'
                name="name" 
                [(ngModel)]="model.name">
              <mat-error *ngIf="nameFormControl.hasError('minlength') && !nameFormControl.hasError('required')">
                Please enter a name with minimum 5 chars
              </mat-error>
              <mat-error *ngIf="nameFormControl.hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
          </mat-form-field>

        <mat-form-field class="example-full-width">
            <input 
              matInput 
              placeholder="Email" 
              [formControl]="emailFormControl"
              [errorStateMatcher]="matcher" 
              type='text' 
              id='email'
              name="email" 
              [(ngModel)]="model.email">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>


        <mat-form-field class="example-full-width">
            <textarea 
              matInput 
              placeholder="Feedback" 
              [formControl]="feedbackFormControl"
              [errorStateMatcher]="matcher" 
              type='text' 
              id='feedback'
              name="feedback" 
              [(ngModel)]="model.feedback"
              rows="10">
            </textarea>
            
            <mat-error *ngIf="feedbackFormControl.hasError('minlength') && !feedbackFormControl.hasError('required')">
              Please enter a name with minimum 10 chars
            </mat-error>
            <mat-error *ngIf="feedbackFormControl.hasError('required')">
              Feedback is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button type="submit" class="btn btn-info pull-right">
          <i class="fa fa-envelope-o"></i>
          <span>Send feedback</span>
        </button>

      </form>
    </div>
  </div>
</div>